@tailwind utilities;
@import "tailwindcss";
@import "tailwindcss/preflight";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Fonts */
  --font-monton: "Monoton", cursive;
  --font-inspiration: "Inspiration", cursive;

  /* Simplified Palette */
  --color-primary: #26f7fd;
  --color-dark: #00275f;

  /* Additional UI Colors if needed */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted-foreground: #6ba5a7;

  /* Animations */
  --animation-wiggle: wiggle 1s ease-in-out infinite;
  --animation-ring: ring 2s linear infinite;
  --animation-beat: beat 1s ease-out infinite;

  @keyframes wiggle {

    0%,
    100% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(3deg);
    }
  }

  @keyframes beat {

    0%,
    100% {
      transform: scale(1);
    }

    25% {
      transform: scale(1.2);
    }
  }

  @keyframes ring {
    0% {
      transform: rotate(0deg);
      box-shadow: 1px 3px 5px rgba(255, 0, 255, 0.5);
    }

    50% {
      transform: rotate(180deg);
      box-shadow: 1px 3px 5px rgba(255, 255, 255, 0.8);
    }

    100% {
      transform: rotate(360deg);
      box-shadow: 1px 3px 5px rgba(255, 0, 0, 0.5);
    }
  }

  /* Custom Box Shadows */
  --shadow-ring: 0 0 5px rgba(255, 255, 255, 0.3);
}

@layer base {
  body {
    @apply bg-linear-to-r from-primary/30 to-primary/5 text-dark dark:from-dark dark:to-dark/50 dark:text-white transition-colors duration-300;
  }

  :root {
    --background: #1a2f4d;
    --foreground: #2083b1;
    --muted-foreground: #63a6cc;
  }

  .dark {
    --background: #389797;
    --foreground: #26f7fd;
    --muted-foreground: #6ba5a7;
  }
  .ant-dropdown-menu {
    padding: 0% !important;
  }
  .ant-dropdown-menu-item:hover {
    background-color: var(--foreground) !important;
    color: var(--background) !important;
    margin: 0%;
  }
  .ant-dropdown-menu-item {
    color: var(--foreground) !important;
  } 
}

@layer utilities {

  /* Reduced Gradient Logic using Opacity Modifiers */
  .custom-card-bg {
    @apply bg-linear-to-r from-dark/10 to-primary/30 dark:from-dark dark:to-dark/60 shadow-xl;
  }

  .custom-tag-bg {
    @apply text-foreground text-sm font-medium rounded-full bg-linear-to-r from-dark/20 to-primary/90 dark:from-primary/10 dark:to-dark/70 shadow-md;
  }

  .glass-card {
    background: rgba(255, 255, 255, 0.1);
    /* transparent layer */
    backdrop-filter: blur(10px);
    /* the blur magic */
    -webkit-backdrop-filter: blur(10px);
    /* for Safari */
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    padding: 20px;
    color: #fff;
  }


  /* Standard CSS for scrollbars */
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right bottom, #26f7fd, #00275f);
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: auto;
  }
}